.project
.cproject
.settings/
.hg/
src/*.o
src/PCem*
src/pclog.txt
src/pcem.log
src/pcem.cfg
src/roms/
src/nvr
src/configs
src/*.dmp
pclog.txt
pcem.log
autom4te.cache
roms/tolower.sh
src/.deps
config.log
config.status
Makefile
src/Makefile
pcem
src/pcem